<div class="w-full h-full p-4">
  <div class="w-full flex">
    <div class="flex items-center justify-center w-full">
      <p class="text-lg text-main-1 font-bold">Create Project</p>
    </div>
    <div class="flex items-center justify-end">
      <svg
        width="20"
        height="20"
        viewBox="0 0 25 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18.75 6.25L6.25 18.75M6.25 6.25L18.75 18.75"
          stroke="#525252"
          stroke-width="4"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </div>
  <div class="py-4">
    <div><p>Name your project</p></div>
    <div>
      <input
        type="text"
        placeholder="Type a name..."
        class="pl-2 rounded-lg h-10 placeholder:text-main-2"
      />
    </div>
  </div>
</div>
