<div class="flex w-full transition-all duration-500 overflow-hidden">
  <hoverbar />

  <div class="flex-col w-screen h-screen">
    <div>
      <infobar title="{{ project?.name }}" />
    </div>
    <h1 class="text-l text-main-4 p-4">Projects / {{ project?.name }}</h1>
    <div class="flex">
      <div class="flex-col w-full p-4">
        <p>Description: {{ project?.description }}</p>
      </div>

      <div class="bg-main-3 rounded-lg w-[12rem] h-[7rem] m-4"></div>
      <div class="bg-main-3 rounded-lg w-[12rem] h-[7rem] m-4"></div>
      <div class="bg-main-3 rounded-lg w-[12rem] h-[7rem] m-4"></div>
      <div class="bg-main-3 rounded-lg w-[12rem] h-[7rem] m-4"></div>
    </div>

    <!-- Search Bar -->
    <div class="w-full h-10 p-3">
      <div>
        <input
          type="text"
          class="w-40rem p-2 border rounded-md"
          placeholder="Search issues..."
          [(ngModel)]="searchQuery"
        />
      </div>
    </div>

    <!-- Issue Lists -->
    <div
      class="grid grid-cols-4 grid-rows-[repeat(auto-fill,minmax(50px,1fr))] justify-between p-3 gap-x-2"
    >
      <!-- NEW List -->

      <app-issue-list
        [listId]="'newList'"
        [filteredIssuesKey]="'filteredNewIssues'"
        [listTitle]="'NEW'"
        [connectedLists]="['newList', 'approvedList', 'inProgList', 'doneList']"
        [searchQuery]="searchQuery"
      ></app-issue-list>

      <app-issue-list
        [listId]="'approvedList'"
        [filteredIssuesKey]="'filteredApprovedIssues'"
        [listTitle]="'APPROVED'"
        [connectedLists]="['newList', 'approvedList', 'inProgList', 'doneList']"
        [searchQuery]="searchQuery"
      ></app-issue-list>

      <app-issue-list
        [listId]="'inProgList'"
        [filteredIssuesKey]="'filteredInProgIssues'"
        [listTitle]="'IN PROGRESS'"
        [connectedLists]="['newList', 'approvedList', 'inProgList', 'doneList']"
        [searchQuery]="searchQuery"
      ></app-issue-list>

      <app-issue-list
        [listId]="'doneList'"
        [filteredIssuesKey]="'filteredDoneIssues'"
        [listTitle]="'DONE'"
        [connectedLists]="['newList, approvedList, inProgList, doneList']"
        [searchQuery]="searchQuery"
      ></app-issue-list>

      <!-- IN PROGRESS List -->

      <!-- DONE List -->
    </div>
  </div>
</div>
