<div class="flex w-full transition-all duration-500">
  <hoverbar />

  <div class="flex-col w-screen h-screen">
    <div>
      <infobar title="{{ project?.name }}" />
    </div>
    <h1 class="text-l text-main-4 p-4">Projects / {{ project?.name }}</h1>
    <div class="flex">
      <div class="flex-col w-full p-4">
        <p>Description: {{ project?.description }}</p>
        <button (click)="createIssue()" class="">
          <svg
            clip-rule="evenodd"
            fill-rule="evenodd"
            stroke-linejoin="round"
            stroke-miterlimit="2"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            stroke="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m11 11h-7.25c-.414 0-.75.336-.75.75s.336.75.75.75h7.25v7.25c0 .414.336.75.75.75s.75-.336.75-.75v-7.25h7.25c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-7.25v-7.25c0-.414-.336-.75-.75-.75s-.75.336-.75.75z"
              fill-rule="nonzero"
            />
          </svg>
        </button>
      </div>

      <div class="bg-main-3 rounded-lg w-[12rem] h-[7rem] m-4"></div>
      <div class="bg-main-3 rounded-lg w-[12rem] h-[7rem] m-4"></div>
      <div class="bg-main-3 rounded-lg w-[12rem] h-[7rem] m-4"></div>
      <div class="bg-main-3 rounded-lg w-[12rem] h-[7rem] m-4"></div>
    </div>

    <!-- Search Bar -->
    <div class="w-full h-10 p-3">
      <div>
        <input
          type="text"
          class="w-40rem p-2 border rounded-md"
          placeholder="Search issues..."
          [(ngModel)]="searchQuery"
          (input)="filterIssues()"
        />
      </div>
    </div>

    <!-- Issue Lists -->
    <div
      class="grid grid-cols-4 grid-rows-[repeat(auto-fill,minmax(50px,1fr))] justify-between p-3 gap-x-2"
    >
      <!-- NEW List -->
      <app-issue-list
        [listId]="'newList'"
        [filteredIssues]="filteredNewIssues"
        [listTitle]="'NEW'"
      ></app-issue-list>
      <app-issue-list
        [listId]="'approvedList'"
        [filteredIssues]="filteredApprovedIssues"
        [listTitle]="'APPROVED'"
      ></app-issue-list>
      <app-issue-list
        [listId]="'inProgList'"
        [filteredIssues]="filteredInProgIssues"
        [listTitle]="'IN PROGRESS'"
      ></app-issue-list>
      <app-issue-list
        [listId]="'doneList'"
        [filteredIssues]="filteredDoneIssues"
        [listTitle]="'DONE'"
      ></app-issue-list>
      <!-- IN PROGRESS List -->

      <!-- DONE List -->
    </div>
  </div>
</div>
