<div class="flex-col">
  <div
    class="w-[85vw] rounded-xl border border-main-3 overflow-hidden drop-shadow-lg"
  >
    <!-- Projects Section -->
    <div
      class="grid grid-cols-1 grid-rows-[repeat(auto-fill,minmax(50px,1fr))]"
    >
      <!-- Search Bar -->
      <div
        class="col-span-1 row-span-1 bg-white p-2 flex justify-between border-b"
      >
        <div>
          <input
            [(ngModel)]="searchQuery"
            type="text"
            placeholder="Search projects..."
            class="w-[10rem] rounded-2xl p-2 border border-gray-300"
          />
        </div>

        <!-- Right-Aligned Input Section -->
        <div class="flex space-x-2">
          <div
            *ngIf="showInputs"
            class="transition-transform duration-300 transform translate-x-0"
            [ngClass]="{ 'translate-x-full': !showInputs }"
          >
            <div class="flex ml-auto space-x-2">
              <!-- Input for Project Name -->
              <input
                [(ngModel)]="projectName"
                type="text"
                placeholder="Project Name"
                class="p-2 border border-gray-300 rounded-lg h-10"
              />

              <!-- Input for Project Description -->
              <input
                [(ngModel)]="projectDescription"
                type="text"
                placeholder="Project Description"
                class="p-2 border border-gray-300 rounded-lg h-10"
              />

              <!-- Button to Create Project -->
              <div class="h-10">
                <button
                  (click)="createProject()"
                  class="p-2 bg-blues-3 text-white rounded-lg flex items-center space-x-2"
                >
                  <h1>Create Project</h1>
                </button>
              </div>
            </div>
          </div>
          <div class="h-10" (click)="toggleInputs()">
            <button
              class="p-2 bg-blues-3 text-white rounded-lg flex items-center space-x-2"
            >
              <svg viewBox="0 0 24 24" class="w-6 h-6">
                <path
                  d="m11 11h-7.25c-.414 0-.75.336-.75.75s.336.75.75.75h7.25v7.25c0 .414.336.75.75.75s.75-.336.75-.75v-7.25h7.25c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-7.25v-7.25c0-.414-.336-.75-.75-.75s-.75.336-.75.75z"
                  fill-rule="nonzero"
                  fill="currentColor"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- Filtered Projects -->
      <div
        *ngFor="let project of filteredProjects; let i = index"
        class="col-span-1 row-span-1 grid grid-cols-8 grid-rows-2 p-2 overflow-hidden bg-white border-b border-blue-3 hover:bg-main-1 transition-all duration-300"
      >
        <div
          class="row-span-2 col-span-1 p-4 border-r-2 border-main-3 flex items-center justify-center"
        >
          <div
            class="border border-blues-3 w-[2.5rem] h-[2.5rem] rounded-md flex items-center justify-center"
          >
            <h1 class="text-blues-3">0 {{ i + 1 }}</h1>
          </div>
        </div>
        <div class="row-span-2 col-span-1">
          <div class="col-span-1 row-span-1 justify-center flex">
            <h1 class="text-main-3">Name</h1>
          </div>
          <div class="col-span-1 row-span-1 justify-center flex">
            <h1 class="text-main-2">{{ project.name }}</h1>
          </div>
        </div>
        <!-- <div class="row-span-2 col-span-1 border-r-2 border-l-2">
          <div class="col-span-1 row-span-1 justify-center flex">
            <h1 class="text-main-3">Description</h1>
          </div>
          <div class="col-span-1 row-span-1 justify-center flex">
            <h1 class="text-main-2">
              {{ project.description }}
            </h1>
          </div> -->
        <!-- </div> -->
        <div class="row-span-2 col-span-1">
          <div class="col-span-1 row-span-1 justify-center flex">
            <h1 class="text-main-3">Status</h1>
          </div>
          <div class="col-span-1 row-span-1 justify-center flex">
            <h1
              [ngClass]="{
                'text-green-500': project.status === ItemStatus.Done,
                'text-red-500': project.status === ItemStatus.Closed,
                'text-blue-500': project.status === ItemStatus.New,
                'text-yellow-500': project.status === ItemStatus.Approved,
                'text-orange-500': project.status === ItemStatus.InProgress
              }"
            >
              {{ project.status }}
            </h1>
          </div>
        </div>
        <div class="row-span-2 col-span-1">
          <div class="col-span-1 row-span-1 justify-center flex">
            <h1 class="text-main-3">Priority</h1>
          </div>
          <div class="col-span-1 row-span-1 justify-center flex">
            <h1
              [ngClass]="{
                'text-green-500': project.priority === ItemPriority.Low,
                'text-red-500': project.priority === ItemPriority.Medium,
                'text-blue-500': project.priority === ItemPriority.High,
                'text-yellow-500': project.priority === ItemPriority.Critical,
              }"
            >
              {{ project.priority }}
            </h1>
          </div>
        </div>
        <div class="row-span-2 col-span-1 flex justify-center items-center">
          <svg
            class="w-6 h-6 text-main-3 hover:text-main-2"
            viewBox="0 0 24 24"
            fill="currentColor"
          >
            <path
              d="m13.022 14.999v3.251c0 .412.335.75.752.75.188 0 .375-.071.518-.206 1.775-1.685 4.945-4.692 6.396-6.069.2-.189.312-.452.312-.725 0-.274-.112-.536-.312-.725-1.451-1.377-4.621-4.385-6.396-6.068-.143-.136-.33-.207-.518-.207-.417 0-.752.337-.752.75v3.251h-9.02c-.531 0-1.002.47-1.002 1v3.998c0 .53.471 1 1.002 1zm1.5-4.498v-3.008l4.751 4.507-4.751 4.507v-3.008h-10.022v-2.998z"
              fill-rule="nonzero"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
