<div class="flex w-full">
  <div
    class="relative w-[70vw] rounded-xl border border-main-3 overflow-hidden drop-shadow-lg z-10"
  >
    <!-- Projects Section -->
    <div
      class="grid grid-cols-1 grid-rows-[repeat(auto-fill,minmax(50px,1fr))]"
    >
      <!-- Search Bar -->
      <div
        class="col-span-1 row-span-1 bg-white p-2 flex justify-between border-b"
      >
        <div>
          <input
            [(ngModel)]="searchQuery"
            type="text"
            placeholder="Search projects..."
            class="w-[20rem] rounded-2xl p-2 border border-gray-300"
          />
        </div>

        <!-- Right-Aligned Input Section -->
        <div class="flex space-x-2">
          <div
            *ngIf="showInputs"
            class="transition-transform duration-300 transform translate-x-0"
            [ngClass]="{ 'translate-x-full': !showInputs }"
          >
            <div class="flex ml-auto space-x-2">
              <!-- Input for Project Name -->
              <input
                [(ngModel)]="projectName"
                type="text"
                placeholder="Project Name"
                class="p-4 border border-gray-300 rounded-lg h-10"
              />

              <!-- Input for Project Description -->
              <input
                [(ngModel)]="projectDescription"
                type="text"
                placeholder="Project Description"
                class="p-2 border border-gray-300 rounded-lg h-10"
              />

              <!-- Button to Create Project -->
              <div class="flex items-center justify-center">
                <button
                  (click)="createProject()"
                  class="h-10 bg-blues-2 text-white rounded-lg space-x-2"
                >
                  <h1 class="mt-[-5rem]">Create Project</h1>
                </button>
              </div>
            </div>
          </div>
          <div class="h-10" (click)="toggleInputs()">
            <button
              class="p-2 bg-blues-3 text-white rounded-lg flex items-center space-x-2"
            >
              <svg viewBox="0 0 24 24" class="w-6 h-6">
                <path
                  d="m11 11h-7.25c-.414 0-.75.336-.75.75s.336.75.75.75h7.25v7.25c0 .414.336.75.75.75s.75-.336.75-.75v-7.25h7.25c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-7.25v-7.25c0-.414-.336-.75-.75-.75s-.75.336-.75.75z"
                  fill-rule="nonzero"
                  fill="currentColor"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- Filtered Projects -->
      <div
        *ngFor="let project of filteredProjects; let i = index"
        (click)="onProjectClick(project)"
        class="col-span-1 row-span-1 grid grid-cols-8 grid-rows-2 p-2 overflow-hidden bg-white border-b border-blue-3 hover:bg-main-1 transition-all duration-300"
      >
        <div
          class="row-span-2 col-span-1 p-4 border-r-2 border-main-3 flex items-center justify-center"
        >
          <div
            class="border border-blues-3 w-[2.5rem] h-[2.5rem] rounded-md flex items-center justify-center"
          >
            <h1 class="text-blues-3">0{{ project.id }}</h1>
          </div>
        </div>
        <div class="row-span-2 col-span-1">
          <div class="col-span-1 row-span-1 justify-center flex">
            <h1 class="text-main-3">Name</h1>
          </div>
          <div class="col-span-1 row-span-1 justify-center flex">
            <h1 class="text-main-2">{{ project.name }}</h1>
          </div>
        </div>
        <!-- <div class="row-span-2 col-span-1 border-r-2 border-l-2">
          <div class="col-span-1 row-span-1 justify-center flex">
            <h1 class="text-main-3">Description</h1>
          </div>
          <div class="col-span-1 row-span-1 justify-center flex">
            <h1 class="text-main-2">
              {{ project.description }}
            </h1>
          </div> -->
        <!-- </div> -->
        <div class="row-span-2 col-span-1">
          <div class="col-span-1 row-span-1 justify-center flex">
            <h1 class="text-main-3">Status</h1>
          </div>
          <div class="col-span-1 row-span-1 justify-center flex">
            <h1
              [ngClass]="{
                'text-green-500': project.status === ItemStatus.Done,
                'text-red-500': project.status === ItemStatus.Closed,
                'text-blue-500': project.status === ItemStatus.New,
                'text-yellow-500': project.status === ItemStatus.Approved,
                'text-orange-500': project.status === ItemStatus.InProgress
              }"
            >
              {{ project.status }}
            </h1>
          </div>
        </div>
        <div class="row-span-2 col-span-1">
          <div class="col-span-1 row-span-1 justify-center flex">
            <h1 class="text-main-3">Priority</h1>
          </div>
          <div class="col-span-1 row-span-1 justify-center flex">
            <h1
              [ngClass]="{
                'text-green-500': project.priority === ItemPriority.Low,
                'text-red-500': project.priority === ItemPriority.Medium,
                'text-blue-500': project.priority === ItemPriority.High,
                'text-yellow-500': project.priority === ItemPriority.Critical,
              }"
            >
              {{ project.priority }}
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="isQuickPDetailsVisible"
    class="w-[20rem] transition-all duration-500 ease-in-out transform ml-4 rounded-xl overflow-hidden border border-main-3 drop-shadow-lg hover:bg-main-1"
    [ngClass]="{
      '-translate-x-[30rem]': !translateAfterDelay,
      'translate-x-0': translateAfterDelay
    }"
    (click)="navigateToProject(selectedProject?.id)"
  >
    <quickpdetails [project]="selectedProject"></quickpdetails>
  </div>
</div>
